@import url(./reset.css);
@import url(./blocks.css);
@import url(./font-page.css);

@view-transition {
    navigation: auto;
}
::view-transition-group(*) {
    animation-duration: .5s;
    animation-timing-function: ease-out;
    z-index: 1;
}

:root {
    --bg-clr: hsl(240, 3%, 8%);
    --theme-clr: hsl(203, 100%, 23%);
    --text-clr: hsl(217, 89%, 78%);

    --app-width: 85%;
}

body {
    background-color: var(--bg-clr);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--text-clr);
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}